<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
      <nav class="main-nav">
        <a href="home.html#home"><img class="logo_smmp" src="./assets/images/sm.png" /></a>
        <a href="home.html#home" class="logo"
          >PT SUBUR MAKMUR MIGAS PRATAMA</a
        >
        <p class="logo_lokasi"><span>Kabupaten Demak, Jawa Tengah</span></p>
        <ul class="nav">
          <div class="box-nav">
            <i class="fas fa-home"></i>
            <li class="scroll-to-section" id="home-nav">
              <a href="home.html#home">Home</a>
            </li>
          </div>
          <li class="scroll-to-section"><a href="home.html#stok">Stok</a></li>
          <li class="submenu">
            <a href="javascript:;">Proses</a>
            <ul>
              <div class="row" style="background-color: #ff0000">
                <img src="./assets/images/right-one.png" id="rg" />
                <li><a href="penyaluran.html">Penyaluran</a></li>
              </div>
              <div class="row" style="background-color: #ff0000">
                <img src="./assets/images/right-one.png" id="rg" />
                <li><a href="penerimaan.html">Penerimaan</a></li>
              </div>
            </ul>
          </li>
          <li class="scroll-to-section"><a href="order.html">Order</a></li>
          <li class="scroll-to-section">
            <a href="laporan.html">Laporan</a>
          </li>
        </ul>
        <a class="menu-trigger">
          <span>Menu</span>
        </a>
      </nav>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->